.menu-layout {
  display: flex;
  width: 100vw;
  height: 90vh;
  background-color: #f5f5f5;
  justify-content: center;
  align-items: center;
}
.menu-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 5vw;
  width: 90vw;
  height: 80vh;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 40px;
  border: 4px solid rgba(243, 6, 106, 0.6);
}
.menu-column {
  width: 25vw;
  height: 75vh;
  display: flex;
  flex-direction: column;
}
.logo-box {
  position: relative;
  margin: 0 4vw;
}
.logo-box img {
  position: absolute;
  top: -2vh;
  width: 5vw;
  stroke-width: 5;
}
.logo {
  font-family: "Grand Hotel", cursive;
  font-size: 48px;
  background: linear-gradient(
    to right,
    #eb3677 0%,
    #eb3677 57%,
    #4b79ef 57%,
    #4b79ef 60%,
    #f3066a 60%,
    #f3066a 100%
  );
  background-clip: text;
  /*add this line, it defines how far the background should extend within an element, here we set it to text */
  -webkit-background-clip: text;
  /* add this line, for browsers compatibility */
  -webkit-text-fill-color: transparent;
}
.title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 96px;
  color: white;
  text-align: center;
  border-bottom: 1px solid white;
}

.meal-type {
  font-family: "Grand Hotel";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 87px;
  color: #eb3677;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 1vh;
}
.meal-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.meal-item {
  display: flex;
  background-color: white;
  border: 3px solid #eb3677;
  border-radius: 20px;
  width: 23vw;
  height: 5 vh;
  margin-bottom: 2vh;
  padding: 0vh 1vw;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1vw;
  line-height: 38px;

  color: #000000;
}
.meal-item:hover {
  cursor: pointer;
}
.meal-item img {
  height: 5vh;
  width: 3vw;
  margin-right: 3vw;
}
.add-meal-btn {
  width: 25vw;
  height: 6vh;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  background-color: #eb3677;
  color: white;
  margin: 0;
}
.breakfast-container {
  display: flex;
  flex-direction: column;
  height: 59vh;
  align-items: center;
  border-bottom: 1px solid white;
}
.dinner-container {
  display: flex;
  flex-direction: column;
  height: 70vh;
  align-items: center;
}
.supper-container {
  display: flex;
  flex-direction: column;
  height: 34vh;
  align-items: center;
}
.extra-container {
  display: flex;
  flex-direction: column;
  height: 41vh;
  align-items: center;
}
