.task {
  position: relative;
  width: 84%;
  height: auto;
  margin: 1vh 5%;
  padding: 1vh 3%;
  background: #ffffff;
  border: 2px solid black;
  border-radius: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  flex-direction: row;
  column-gap: 1vw;
  align-items: center;
  animation: task-add 500ms;
}
.task-delete {
  animation: task-delete 500ms;
  background-color: #f3066a;
}
@keyframes task-delete {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(6.3vh);
    display: none;
  }
}
@keyframes task-add {
  from {
    transform: translateY(-6.3vh);
  }
  to {
    transform: translateY(0);
    display: none;
  }
}
.task .tick {
  position: absolute;
  left: -2.8vw;
  width: 2vw;
  height: 3vh;
}
.tick:active {
  transform: scale(1.2, 1.2);
}
.task button {
  padding: 0.1vh 0.4vw;
  width: auto;
  font-size: 18px;
}
.task span {
  width: 100%;
}

.task:hover {
  cursor: pointer;
}
.add-task:hover {
  background-color: #f3066a;
}
.task-time {
  margin: 0 1vw 0 0;
}

.task img {
  height: 3vh;
  width: 2vw;
  margin: 0 auto;
}
.add-task-form {
  height: 8vh;
}
.add-task {
  height: auto;
  background-color: #f3066a;
}
.plus-btn {
  width: 100%;
  text-align: center;
}
.plus-btn:hover {
  cursor: pointer;
}
