.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  column-gap: 1vw;
  row-gap: 1vh;
  height: 10vh;
}
.input-container form {
  display: flex;
  width: 100%;
  align-items: center;
  height: auto;
  flex-direction: column;
}
.input-box {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

.input-container form button {
  min-width: 10vw;
  width: auto;
}
.task-cancel-btn {
  position: absolute;
  top: 5.7vh;
  right: 2vw;
}
.input-container button {
  position: absolute;
  top: 5.7vh;
  padding: 0.3vh 0.4vw;
  margin: 0 1vw;
  width: auto;
  font-size: 18px;
}
.input-container-modify button {
  padding: 0.2vh 0.4vw;
  width: auto;
  font-size: 18px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input-container input {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  border: 1px solid black;
  border-radius: 5px;
  color: grey;
}
.input-container input[type="number"] {
  width: 2vw;
  height: 3vh;
  margin: 0;
  padding: 0;
  text-align: center;

  -moz-appearance: textfield;
}
.input-container input[type="text"] {
  margin-left: 1vw;
  height: 3vh;
  width: 20vw;
}
