.header-container {
  width: 90vw;
  height: 6vh;
  display: inline-flex;
  justify-content: space-between;
  padding: 2vh 5vw;
  align-items: center;
}

.header-container ul li {
  font-family: "PT Serif", serif;

  font-family: "Roboto Flex", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  list-style-type: none;
  display: inline;
  font-size: 24px;
  padding: 0 1em;
}
.header-container .link {
  color: rgba(255, 0, 107, 0.48);
  text-decoration: none;
}
.header-container .active {
  color: #f3066a;
  text-decoration: none;
}
.header-container li:hover {
  cursor: pointer;
}
