.sticker {
  display: flex;
  flex-direction: column;
  row-gap: 1vh;
  align-items: center;
  justify-content: center;
  width: 7vw;
  height: 13vh;
  padding: 10px;
  background: #ffffff;
  border: 3px solid #f3066a;
  border-radius: 20px;
  font-family: "Roboto";
  font-style: normal;
}
img {
  width: 4vw;
}
