.task {
  width: 35.75vw;
  height: 2vh;
  margin: 1vh 0;
  padding: 1vh 1vw;
  background: #ffffff;
  border: 2px solid #2706f3;
  border-radius: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  flex-direction: row;
  column-gap: 1vw;
  align-items: center;
}

.task button {
  padding: 0.1vh 0.4vw;
  width: auto;
  font-size: 18px;
}

.task:hover {
  cursor: pointer;
}
.add-task:hover {
  stroke: white;
  background-color: #f3066a;
}
.task-time {
  margin: 0 1vw 0 0;
}

.plus {
  height: 3vh;
  width: 2vw;
  margin: 0 auto;
}

.add-task {
  text-align: center;
}
.add-task-form {
  height: 8vh;
}
